<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}"/>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" /> -->
    <script src="{% static 'accounts/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'accounts/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block head %}
    <title>Login</title>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home:home' %}"class="navbar-brand">CloudChart</a>

            </div>

            <!-- menu items -->

            <div class="collapse navbar-collapse" id="navbar">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{% url 'demographics:demographics' %}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Demo
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'home:solutions' %}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Solutions
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'home:about_us' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> About Us
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'home:FAQ' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> FAQ
                        </a>
                    </li>
                    <li class="active">
                        <a href="/account/logout">
                        <span class="glyphicon glyphicon-off"  aria-hidden="true"></span> Logout
                        </a>
                    </li>

                </ul>

                {% else %}
                 <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{% url 'home:solutions' %}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Solutions
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'home:about_us' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> About Us
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'home:FAQ' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> FAQ
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'account:register' %}">
                        <span class="glyphicon glyphicon-off" href="/account/register" aria-hidden="true"></span> SignUp
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'account:login' %}">
                        <span class="glyphicon glyphicon-off"  aria-hidden="true"></span> Login
                        </a>
                    </li>
                 </ul>
                    {% endif %}



            </div>
        </div>
    </nav>
    {% block body %}
        <h1>Base</h1>
    {% endblock %}
</body>
</html>