{% extends 'base.html' %}

{% block body %}
<h1>demo display from database!</h1>


    {% if demos %}

    {% for demographics in demos  %}
       <p><strong> First Name</strong> {{ demographics.first_name }}</p>
        {{ demographics.middle_name }}
        {{ demographics.last_name }}



    

    {% endfor %}

    <div><a href="{% url 'demographics:demo_update' user.id %}">Edit demographics</a></div>
    
    {% else %}
    <h3>you dont have demo yet</h3>
    <div><a href="{% url 'demographics:create_demographics' %}">Create demographics</a></div>

    {% endif %}


{% endblock %}
