{% extends 'base.html' %}

{% block body %}
<h1>demographics</h1>

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'demographics/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-0">
            <button type="submit" class="btn btn-success">Submit</button>

        </div>
    </div>

</form>

{% endblock %}