<!DOCTYPE html>
{% extends 'base.html' %}

<h1>Home</h1>
{% block head %}


    <title>Profile</title>

{% endblock %}

{% block body %}


    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{  form.as_p }}
            <button type="Submit">Submit</button>

        </form>
    </div>






{% endblock %}