<!DOCTYPE html>

{% extends 'base.html' %}

{% block body %}

<div class="container">

    <h1>Welcome</h1>
    <p>
        login in here
    </p>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>

    </form>

</div>







{% endblock %}