<!DOCTYPE html>
{% extends 'base.html' %}

<h1>Home</h1>
{% block head %}


    <title>Profile</title>

{% endblock %}

{% block body %}


    <div class="container">
       <h1> password reset email sent@!</h1>
    </div>






{% endblock %}