<!DOCTYPE html>
{% extends 'base.html' %}

<h1>Home</h1>
{% block head %}


    <title>Profile</title>

{% endblock %}

{% block body %}


    <div class="container">
        <h1> Profile</h1>
        <img src="{{ user.userprofile.image.url }}" width="200px">
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name:  {{ user.last_name }}</p>
        <p>Websit: {{ user.userprofile.website }}</p>


    </div>






{% endblock %}