<!DOCTYPE html>

{% extends 'base.html' %}

{% block body %}

<div class="container">

    <h1>Sign Up</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
             <button type="POST">Submit</button>
        </form>
</div>
{% endblock %}
